#map{
          width: auto;
          height: 500px;

}

#report-label {
  position: absolute;
  left: 35%;
  width: 30%;
  height: 75px;
  top: 0px;
  font-family: Roboto;
  font-size: 55px;
  border-radius: 20px;
  background-color: #A9A9A9;
  color: #A9A9A9;
  opacity: 0;
}
#report{
  position: absolute;

  left: 35%;
  width: 30%;
  height: 75px;
  top: 735px;
  font-family: Roboto;
  font-size: 55px;
  border-radius: 20px;
  background-color: #D3D3D3;
  color: white;
}
body {
	background-color: #E0E0E0;
}